<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="server" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_PATH}/${LOG_FILE}</File>
    <encoder>
      <pattern>%d{HH:mm:ss} [%p] %C.%M - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/%d{yyyy/MM, aux}/${LOG_FILE}.%d{yyyyMMdd}</fileNamePattern>
    </rollingPolicy>
  </appender>
  
  <logger name="com.hobiron" level="INFO">
    <appender-ref ref="server" />
  </logger>
  
  <logger name="org.springframework" level="INFO">
    <appender-ref ref="server" />
  </logger>
  
  <root level="OFF" />
  
</configuration>